@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url("pacote-projeto/fontes/idroid.otf");
    font-weight: normal;
}

body {
    font: normal 18px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #84E1AD;
    margin: 0px;
}

header {
    margin: -30px 0px 0px 0px;
    background-image: linear-gradient(to bottom, #3CD781, #1A5C38);
}

section.cabecalho > h1 {
    padding-top: 10px;
    font: normal 2.5em 'Arial';
    color: white;
    text-align: center;
}

section.cabecalho > p {
    padding: 20px;
    color: white;
    text-align: center;
}

nav.cabecalho {
    background-color: #1A5C38;
}

nav.cabecalho > a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

nav.cabecalho > a:hover {
    background-color: #3CD781;
}

main {
    width: 70%;
    margin: auto ;
    padding: 20px;
    background-color: white;
}

p {
    text-align: justify;
}

article.assunto > h1, h2 {
    font-family: 'android';
    color: #1A5C38;
}

article.assunto > h2 {
    background-image: linear-gradient(to right, #3cd78275, white);
}

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque {
    color: #299057;
    font-weight: bolder;
}

.sub-container {
    background-color: #b7efcf;
    padding: 0px 10px;
    border-radius: 10px;
}

h3 {
    margin: 0px;
    background-color: #2FA866;
    color: white;
    border-radius: 10px 10px ;
}

.sub-container > nav > a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

footer {
    margin-top: 30px;
    background-color: #1A5C38;
    color: white;
    padding: 10px;
}

footer > p {
    margin: 0px;
    text-align: center;
}

.destaque2 {
    color: #3CD781;
}