* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #151320;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    color: #fff;
    background-color: #2e2a46;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font: bold 2em "system-ui";
    text-align: center;
}

.box:before, .box:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 10px;
    animation: borderAnimation 8s linear infinite;
}

@keyframes borderAnimation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.box:after {
    filter: blur(50px);
}